<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Title</th>
      <th scope="col">Image</th>
      <th scope="col">Price</th>
    </tr>
  </thead>
  <tbody>
    @for(product of products; track product.id) {
    <tr>
      <th scope="row">{{ product.id }}</th>
      <td>{{ product.date | date : "short" }}</td>
      <td>{{ product.title }}</td>
      <td><img [src]="product.image" alt="" width="100px" /></td>
      <td>{{ product.price }}</td>
      <a
        [routerLink]="['/admin/products/edit', product.id]"
        class="btn btn-info"
        >Edit</a
      >
      <button (click)="handleDelete(product.id)" class="btn btn-danger">
        Delete
      </button>
    </tr>
    }
  </tbody>
</table>
